*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 3rem;
  font-family: Helvetica, sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  padding: 2rem;
  display: grid;
  place-content: center;
}

.images {
  max-width: 80rem;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  display: grid;
  border-radius: 0.5rem;
}

.image:hover {
  transform: scale(0.8) rotate(-15deg);
  border-radius: 1rem;
}

img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .images {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .images {
    grid-template-columns: repeat(3, 1fr);
  }
}

.image-enlarged {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  place-content: center;
  padding: 2rem;
  z-index: 100;
}

.large-image-container {
  max-width: 50rem;
  background-color: white;
  border-radius: 1rem;
  z-index: 100;
}

.large__image {
  border-radius: 1rem;
}

.toggler {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  background-color: white;
  color: gray;
  width: 6rem;
  height: 6rem;
  font-size: 4rem;
  font-weight: 600;
  border-radius: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 5%;
  right: 2.5%;
  z-index: 100;
}

.toggler:hover {
  opacity: 0.8;
}

/* FIX RESPONSIVENESS  */
